body{
    background-color: rgb(250, 231, 231);

}
h1 {
    text-align: center;
    font-size: 42px;
    color: rgb(68, 65, 86);
}
li{
    color: white;

}
.first{
    color:black
}

#cool {
    color: green;
}

.card {

}
.card-header{

}
.card-img {
    width: 300px;
    margin: 0 auto;
    display: block;
}
.card-desc{

}
.blog {
    width: 300 px;
    height: 600 px ;
    background-color: peachpuff;
    margin: 0 auto;   /*margin X auto centers object*/
    border: 3px solid white;
    padding: 30px 15px 10px 30px; /* top bottom left right, the space inside the box*/
}