body{
    background-color: rgb(250, 231, 231);
    font-family: "Nerko One", cursive;
}
h1 {
    text-align: center;
    font-size: 42px;
    color: rgb(68, 65, 86);
}
li{
    color: white;

}

.card-img {
    width: 90%;
    margin: 0 auto;
    display: block;
}
.card-desc{
    text-align: center;
}

.card-link {
    text-align: center;
}
.blog {
    width: 300 px;
    height: 600 px ;
    background-color: peachpuff;
    margin: 100 700;   /*margin X auto centers object*/
    border: 3px solid white;
    padding: 30px 15px 10px 30px; /* top bottom left right, the space inside the box*/
}

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  }
  